<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Web Page Ranking Using SEO Suggester
    </h1>

    <div class="container">
        <center>
            <form action="/" method="get">
                <input type="text" name="search" id="search" placeholder="enter text to search" required value="<%= psearch%>">
                <input type="submit" value="SEARCH">
            </form>
        </center>

    </div>

</body>
<script>
    window.location = '/users'
</script>

</html>